<!DOCTYPE html>
<html>
  <%- partial('components/head') %>
  <body>
    <main>
      <%- partial('components/header') %>
      <%- body %>
      <%- partial('components/footer') %>
    </main>
    <%- partial('components/up') %> 
  </body>
</html>